<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <receiver
            android:name=".ReassessmentPreviewSeedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.anchor.app.action.SEED_REASSESSMENT_PREVIEW" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
