<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.anchor.app.timer.BackgroundTimerProbeReceiver"
            android:exported="true" />
        <receiver
            android:name="com.anchor.app.reminder.ReminderSchedulerProbeReceiver"
            android:exported="true" />
        <receiver
            android:name="com.anchor.app.SpeechProbeReceiver"
            android:exported="true" />
        <activity
            android:name=".PrivacyShieldHostActivity"
            android:exported="false"
            android:theme="@style/Theme.Anchor" />
    </application>
</manifest>

